
.dashboard-container {
  display: flex;
  align-items:center;
  justify-content:center;
  height: 100vh;
  width:80%;
  margin-left:18rem;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 16rem;
  height: 90vh;
  background-color: #fffbeb;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  gap: 8rem;
  border-right: 1px solid #fde68a;
  overflow-y: auto;
  z-index: 10;
}

.profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
  padding: 2rem;
  border-bottom: 2px solid #587655;
}

.profile-title {
  font-size: 1.875rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.profile-icon {
  stroke-width: 1;
}

/* Navigation */
.nav-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  width: 100%;
  margin: 0;
  padding: 1rem 0.5rem;
  padding-right: 0;
  border-radius: 0.5rem;
  color: #587655;
  font-family: 'Inter', sans-serif;
  font-size: 1.125rem;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  width: 100%;
  margin: 0;
  padding: 1.5rem 0.75rem;
  padding-right: 0;
  border-radius: 0.5rem;
  color: #587655;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 1.125rem;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
}

.nav-link:hover {
  background-color: #fef3c7;
  color: #15803d;
}

/* Footer Links */
.footer-links {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.footer-links h2 {
  font-size: 16px;
  padding: 0.5rem;
}


/* Main Content */
.main-content {
  margin:0;
  padding:0;
  flex: 1;
  padding: 2rem;
}

/* Header */
/* Content Card */
.content-wrapper {
  max-width: 36rem;
  margin: 4rem auto 0;
}

.content-card {
  background-color: #e9d5ff;
  border-radius: 1.5rem;
  padding: 4rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.shapes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.messages-icon{
  width:40px;
  height: 40px;
  transition: transform 0.5s ease, stroke 0.5s ease;

}

.messages-icon:hover{
  transform: scale(1.15);
  color:white;
  cursor:pointer;

}

.inbox-text button{
  background-color: transparent;
  border-style: none;
  outline: none;
  box-shadow:none;
  color:  #587655;
}
