
@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');

body{
    background-image:url('../assets/bg.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}


.main-container{
    margin-top: 5rem;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.main-container h1{
    font-family: "Lemon", cursive;
    font-size:120px;
    color: white;
    margin-bottom: 0;
}


.main-container h2{
    color:white;
    margin-bottom: 4rem;
}


.main-container p{
    font-size:22px;
    width:50rem;
    text-align:center;
    color:white;
}

.thrift-btn{
    margin-top:8rem;
    width:18rem;
    height:3rem;
    font-size:14px;
    color:white;
    background-color:#406A58;
    border-radius:1rem;
    border-style:none;
    font-size:20px;
    font-weight:600; 
    transition:0.3s;
}


.thrift-btn:hover{
    transition:0.3s;
    background-color:#58937A;
    color:whitesmoke;
    width:18.5rem;
    height:3.5rem;
    cursor:pointer;
}

.browse-link{
    margin-top:2rem;
    color:white;
    font-size: 18px;
}
