.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6rem;
}

.search-container {
  position: relative;
  flex: 1;
  max-width: 42rem;
}

.search-input {
  width: 100%;
  padding: 0.75rem 1.5rem;
  border-radius: 9999px;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(4px);
  outline: none;
}

.search-input:focus {
  ring: 2px solid white;
  box-shadow: 0 0 0 2px white;
}

.search-button {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #4b5563;
}

.inbox-text {
  display:flex;
  justify-content: center;
  margin-left: 2rem;
  color: #587655;
  font-size: 1.125rem;
  gap:0.5rem;
}
